body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 50px;
  
  animation: borderAnimation 5s linear infinite;
  border: 10px solid transparent;
  border-image: linear-gradient(45deg, rgb(11, 1, 1), rgb(64, 3, 231), rgb(0, 2, 0), blue, rgb(229, 6, 17), rgb(1, 0, 1)) 1;
}

h1, p {
  color: #050506;
}

@keyframes borderAnimation {
  0% {
    border-image-slice: 1;
    border-image-source: linear-gradient(45deg, rgb(12, 1, 1), rgb(238, 66, 4), rgb(2, 248, 2), blue, rgb(2, 0, 4), rgb(250, 5, 250));
  }
  100% {
    border-image-slice: 1;
    border-image-source: linear-gradient(45deg, violet, indigo, blue, green, yellow, red);
  }
}
